@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  
  --font-size: 16px;
  --bg-white: #FFFFFF;
  --navy-dark: #0F044C; 
  --navy-muted: #363062;
  --text-main: #0F044C;
  --text-secondary: #4B5563; 
  
  
  --background: var(--bg-white);
  --foreground: var(--text-main);
  
  
  --border: #393e47; 
  --radius: 2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy-dark: var(--navy-dark);
  --color-navy-muted: var(--navy-muted);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.5rem);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    
    @apply bg-white text-navy-dark font-sans antialiased;
  }

  
  h1, h2, h3 {
    @apply tracking-tight font-black text-navy-dark;
  }

 
  p {
    @apply text-text-secondary leading-relaxed font-medium;
  }
}


.white-card {
  @apply bg-white border border-gray-100 shadow-sm rounded-3xl p-6;
}